main .inner_container{
    padding-right: 200px;
    box-sizing: border-box;
}

.trending{
    position: fixed;
    top: 6.5rem;
    width: calc(200px - 1rem);
    background: #fff;
    right: 0;
    left: 1024px;
    margin: auto;
    transform: translatex(-50%);
}

.trending >h2{
    padding:  1rem;
    font-size: 1rem;
}

.trending .post{
    padding-top: 0;
}

.trending .post h2{
    border-top: 1px solid darkgray;
    font-size: 1rem;
    margin-bottom: .5rem;
    padding-top: 1rem;
}

.trending .post_stats{
    margin-top: .5rem;
}

.post{
    background: #fff;
    padding: 1rem;
    display: block;

}

.posts .post{
    margin: 1rem ;
}

.post .post_info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.post .post_info .username{
    font-weight: bold;
}

.posts .post >h2{
    margin-bottom: 2rem;
}

.post .cover {
    margin-bottom: 1rem;
    width: 100%;
    max-height: 45vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.post .cover img{
    max-width: 100%;

}

.post .preview {
    text-align: justify;
}


.post a{
    display: inline-block;
    padding: .5rem 1rem;
    color: #548eaa;
    border: 1px solid #548eaa;
    margin: 1rem 0;
    border-radius: 5%;
    transition: all .5s;
}

.post a:hover{
    color: #fff;
    background: #548eaa;
}

.post .post_stats{
    display: flex;
    gap: 1.5rem;
}

.post .post_stats img{
    width: 1rem;
    height: 1rem;
}

.post .post_stats .stat{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.post .post_stats .stat p{
    font-size: 1.1rem;
}